[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia TestRoots.java
Type=Link
URL=mailbox:///home/ipserc/.thunderbird/ne28w0ko.default/Mail/selenitas.es/Inbox?number=5631&part=1.2&filename=TestRoots.java
Icon=text-html
